#--poputil-window
{
	padding: 10px;
	position: fixed; /* absolute? */
	width: calc(100% - 20px);
	height: 100%;
	left: 0;
	top: 0;

	transition: background-color 0.5s ease;
}

.poputil-window-default
{
	background-color: white;

	/*background-color: rgba(100, 100, 100, .65);	*/
}

.poputil-window-active
{
	background-color: rgba(100, 100, 100, .65);	

	/*
	ease-in
	ease-out
	ease-in-out
	*/
}

#--poputil-client
{
	position: relative;
}

.--poputil-client-default-style
{
	padding: 10px;
	border: solid thin black;
	background-color: rgba(100, 100, 100, .85);
}

.poputil-hidden
{
	display: none;
}

.--poputil-frame
{
	border: none;
}
